<div class="mt-2 relative">
    <div class="absolute inset-0">
        <img class="w-full h-full object-cover" src="{{ hero_img }}" alt="">
        <div class="absolute inset-0 bg-gray-400 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative text-center py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
        <h1 class="text-5xl font-extrabold text-white sm:text-6xl lg:text-7xl">{{ hero_title }}</h1>
        <p class="mt-4 text-xl text-gray-50 max-w-3xl">{{ hero_subtitle }}</p>
    </div>
</div>